<a href="https://colab.research.google.com/github/abhiraj7821/AIML-Projects/blob/main/Kaggle%20Compititions/Titanic_Dataset_Prediction_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Importing required
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#EDA-Ecploratory Data Analysis
#Load the Dataset
titanic_train_df=pd.read_csv('/content/train.csv')
titanic_test_df=pd.read_csv('/content/test.csv')
print("Shape of titanic_train_df",titanic_train_df.shape)
print("Shape of titanic_test_df",titanic_test_df.shape)

Shape of titanic_train_df (891, 12)
Shape of titanic_test_df (418, 11)

In [5]:
#Understanding the data
titanic_train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
titanic_test_df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
titanic_train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
titanic_test_df.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [9]:
#finding if dataset have NaN values
titanic_train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
#finding if test dataset have NaN values
titanic_test_df.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [11]:
#Handing NaN values-> using mean i.e we have NaN values in Age column
titanic_train_df['Age'].fillna(titanic_train_df['Age'].mean(),inplace=True)
#finding if dataset have NaN values
titanic_train_df.isnull().sum()

<ipython-input-11-81392ac73d4c>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_train_df['Age'].fillna(titanic_train_df['Age'].mean(),inplace=True)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
#Handing NaN values-> using mean i.e we have NaN values in Age column
titanic_test_df['Age'].fillna(titanic_test_df['Age'].mean(),inplace=True)
titanic_test_df['Fare'].fillna(titanic_test_df['Fare'].mean(),inplace=True)
#finding if dataset have NaN values
titanic_test_df.isnull().sum()

<ipython-input-12-1296a6af4925>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_test_df['Age'].fillna(titanic_test_df['Age'].mean(),inplace=True)
<ipython-input-12-1296a6af4925>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic_test_df['Fare'].fillna(titanic_test_df['Fare'].mean(),inplace=True)

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked         0
dtype: int64

In [13]:
#prepare X_train,y_train,X_test,y_test
#Feature Engneering
titanic_train_df['Sex'] = titanic_train_df['Sex'].str.lower().str.strip().map({'male': 0, 'female': 1})
titanic_test_df['Sex'] = titanic_test_df['Sex'].str.lower().str.strip().map({'male': 0, 'female':1})

In [14]:
#Defining X_train,y_train
X_train=titanic_train_df[['Pclass','Sex','Age','SibSp','Parch','Fare']]
y_train=titanic_train_df['Survived']

In [15]:
X_train.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [16]:
y_train.isnull().sum()

0

In [17]:
#Defining y_test
X_test=titanic_test_df[['Pclass','Sex','Age','SibSp','Parch','Fare']]
X_test.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [18]:
# Model Preperation
from sklearn.linear_model import LinearRegression
model=LinearRegression()
#train the model
model.fit(X_train,y_train)
#test the model
y_pred=model.predict(X_test)
y_pred

array([ 7.77681832e-02,  4.73010289e-01,  8.70780779e-02,  1.22147595e-01,
        6.02056695e-01,  1.98707288e-01,  6.16455063e-01,  2.43135436e-01,
        6.86745489e-01,  7.70344026e-02,  1.02616183e-01,  3.57766426e-01,
        9.85046834e-01,  4.45789978e-02,  8.35414767e-01,  7.86620488e-01,
        2.46704468e-01,  1.56781158e-01,  5.90819081e-01,  5.28218184e-01,
        2.75361705e-01,  2.05638074e-01,  9.64805465e-01,  4.99254371e-01,
        8.52962428e-01, -5.38513992e-02,  1.00597977e+00,  1.47974182e-01,
        3.88983556e-01,  2.15705195e-02,  1.20906123e-01,  2.32462138e-01,
        5.20976039e-01,  5.38178208e-01,  4.21462439e-01,  1.71461188e-01,
        6.15028580e-01,  6.69724141e-01,  1.34236497e-01,  1.22710055e-01,
        3.37347641e-02,  4.50334439e-01,  3.96132204e-02,  7.88678442e-01,
        8.43593096e-01,  1.33585307e-01,  3.65167524e-01,  1.02555901e-01,
        8.08709938e-01,  5.44801423e-01,  4.57620615e-01,  2.94784428e-01,
        7.44859023e-01,  9.03825382e-01,  2.75795716e-01,  3.70086942e-02,
        7.48600606e-02,  1.33471607e-01,  6.26360097e-02,  1.02655847e+00,
        1.80543773e-01,  2.64793892e-01,  1.74612174e-01,  6.63465210e-01,
        5.22660325e-01,  7.90385611e-01,  6.87014234e-01,  3.58675757e-01,
        4.46885326e-01,  7.62842363e-01,  6.51732912e-01,  1.57058503e-01,
        6.22448680e-01,  4.61225951e-01,  1.01139531e+00,  5.13724956e-01,
        1.02679937e-01,  7.30404708e-01,  2.76329800e-01,  6.51732912e-01,
        1.84872252e-01,  2.72042252e-01,  3.40152474e-01,  1.02616183e-01,
        2.73781822e-01,  6.19555468e-02,  6.34172378e-01,  6.87084852e-01,
        6.14904543e-01,  3.81566327e-01,  6.22646056e-01,  1.02566238e-01,
        9.09202340e-01,  1.02679937e-01,  4.81064090e-01,  1.33531889e-01,
        6.72454367e-01,  1.10100037e-01,  6.75261263e-01,  8.66664499e-02,
        8.56529580e-01,  2.55946422e-01,  1.02555901e-01,  1.27651971e-01,
        6.35725546e-01,  1.22007786e-01,  1.57027494e-01,  1.02555901e-01,
        1.02953851e-01,  3.43849949e-01,  2.12591153e-01,  6.14916616e-01,
        9.31176330e-01,  6.83832198e-01,  8.07876164e-01,  1.34011819e-01,
        1.02013243e-01,  7.27178726e-01,  4.36838785e-01,  7.56552430e-01,
        8.95499153e-01,  5.91836675e-02,  9.04454495e-01,  1.15692273e-01,
        1.02555901e-01,  6.76361809e-01,  1.51145841e-01,  5.34568615e-01,
        2.05873992e-01,  1.39508306e-01,  9.25377672e-02,  3.17700840e-01,
        5.42538922e-01,  5.86410089e-02,  2.78895219e-02,  1.39427352e-01,
        1.24488913e-01,  2.99815069e-01,  6.57728265e-01, -1.01278308e-01,
        4.93411584e-01,  9.98351363e-01,  2.64286660e-01,  2.93447338e-01,
        3.81479095e-01, -2.75937476e-02,  4.60799997e-01,  1.51250941e-01,
        4.50334439e-01,  2.18409804e-01,  1.00886504e+00,  1.02616183e-01,
       -6.33928737e-02,  5.43264738e-01,  4.07516038e-04,  1.39301579e-01,
        1.05087319e+00,  6.57647311e-01,  3.81479095e-01,  6.02636006e-01,
        6.14897639e-01,  1.79000934e-01,  8.12370438e-01,  1.02245811e-01,
        2.11745309e-01,  5.82597435e-01,  3.56151682e-01,  5.90305910e-02,
        9.63167153e-01,  6.63976860e-01,  1.02473210e-01,  1.21553254e-01,
        1.04426096e-01,  1.02340574e-01, -8.77693496e-02,  8.47652678e-01,
        8.57211151e-01,  2.79596447e-01,  7.04432347e-01,  7.48218360e-01,
        2.76329800e-01,  3.70945719e-01,  1.00234433e+00,  1.02555901e-01,
        1.00996389e+00,  2.18856989e-01,  8.24905265e-01,  9.38630600e-02,
        2.53632809e-01,  2.17616626e-01,  2.14847201e-01,  4.50107039e-01,
        1.52271652e-01,  9.40502169e-02,  3.73715805e-01,  8.65854956e-02,
        5.97633563e-01,  6.86971152e-01,  3.16395386e-01,  6.15054420e-01,
        6.18108813e-01,  2.41262489e-01,  3.91844224e-01,  8.59927428e-01,
        3.04652751e-01,  4.50000244e-01,  5.87148421e-01,  3.10524068e-01,
        9.47153665e-01,  1.33573234e-01,  9.85225162e-02,  1.02266483e-01,
        3.77670902e-01,  5.74541592e-01,  3.56210538e-01,  3.88073689e-01,
        6.14957962e-01,  2.87302050e-01,  8.60030645e-01,  1.02679937e-01,
        7.45661076e-01,  1.57122258e-01,  8.34615345e-01,  1.57017158e-01,
        8.29613619e-01,  5.78158381e-01,  1.45274523e-01,  6.14904543e-01,
        4.55464217e-02,  2.41101896e-01,  3.91770493e-01,  1.01712540e+00,
        1.13107434e-01,  1.02609319e-01,  3.74215982e-01,  1.62912621e-01,
        2.29073097e-01,  1.62652476e-01,  7.95839350e-01,  8.48252250e-01,
        8.17984684e-01,  6.67792070e-01,  3.45202620e-01,  1.02612751e-01,
        2.58295654e-02,  3.54443737e-01,  8.38956614e-01,  1.50641448e-01,
        7.56552430e-01,  5.74304189e-01,  8.82297233e-01,  1.62941894e-01,
        4.71751343e-01,  1.40035460e-01,  9.02016171e-02,  1.02473210e-01,
        1.02555901e-01,  1.16023037e-01,  8.53262933e-01,  1.57008558e-01,
        2.66104019e-02,  1.57041304e-01,  7.58838968e-01,  7.25311277e-01,
        2.76221268e-01,  1.02616183e-01,  4.39357231e-01,  1.02473210e-01,
        6.15028580e-01,  1.80860768e-01,  3.78125612e-01,  1.02555901e-01,
        9.89971302e-01,  5.74736579e-01,  1.02338838e-01,  8.09394286e-01,
        2.87038799e-01,  1.79619297e-01,  2.36265199e-01,  3.22266703e-01,
        6.57981506e-01,  2.15088559e-01,  6.14904543e-01,  6.79606942e-01,
        7.22759666e-01,  6.87217346e-02,  1.02349174e-01,  4.66826875e-01,
        1.02340574e-01,  1.02679937e-01,  4.55730015e-01,  6.16174245e-01,
        1.02340574e-01,  2.76467151e-01,  6.96520064e-02,  1.27701917e-01,
        8.87545268e-01,  2.15705195e-02,  4.59769859e-01,  1.10070765e-01,
        9.24240673e-02,  2.75575180e-01,  1.83387641e-01,  1.39761547e-01,
        6.14904543e-01,  7.01363856e-01,  4.20399107e-01,  2.56161553e-01,
        2.69537826e-01,  4.87691880e-01,  1.74989451e-01,  1.50909841e-01,
        1.02483547e-01,  5.75405786e-01,  8.62601556e-01,  6.92825229e-01,
        2.99639527e-01,  3.39880655e-01,  1.21813400e-01,  2.44204773e-01,
        1.27651971e-01,  1.33297625e-01,  2.99815069e-01,  4.34320951e-01,
        9.87842850e-01,  1.44966169e-01,  7.98444829e-01,  3.79762187e-01,
        2.44203787e-01,  3.29171656e-01,  6.52968934e-01,  4.00395428e-01,
        1.02338838e-01,  6.21098800e-01,  1.21830599e-01,  4.51707503e-01,
        2.64587165e-01,  1.12538503e-02,  3.13335288e-01,  1.02340574e-01,
        3.45751972e-01,  9.23431130e-02, -9.45688611e-02,  9.80811424e-01,
        4.20518169e-02,  6.98662105e-01,  2.99815069e-01,  5.69319142e-01,
        3.11764431e-01,  7.86114758e-01,  8.71509664e-01,  3.04652751e-01,
        3.71799584e-01,  1.03056820e-01,  7.13731388e-01,  3.34281157e-01,
        7.17577957e-01,  1.02609319e-01,  1.02555901e-01,  5.76357717e-01,
       -1.66109950e-01,  7.70536082e-01,  7.86114758e-01,  1.22147595e-01,
        9.62213292e-01,  4.17779781e-01,  6.19572420e-02,  6.76680239e-01,
        8.69873088e-01,  2.82555985e-01,  2.85179241e-01,  1.00304460e+00,
        3.29402666e-01,  1.94131357e-01,  7.82944476e-01,  9.73716612e-01,
        5.77108356e-01,  3.28551474e-01,  3.14847470e-01,  4.73780548e-02,
        1.02555901e-01,  1.27695053e-01,  6.17695359e-01,  6.41169607e-01,
        2.74677653e-01,  7.62188396e-01,  1.39394606e-01,  1.17804231e-01,
        1.56998222e-01,  1.00537891e-01,  5.20714880e-01,  8.26376101e-01,
        1.69291605e-01,  1.75483769e-01, -3.41096261e-02,  1.00519716e+00,
        1.39177543e-01,  8.17073295e-01,  1.51137241e-01,  9.82781437e-02,
        1.02147116e+00,  1.89294661e-01,  1.00491339e+00,  5.36758512e-01,
        3.32719616e-01,  3.35399577e-01,  2.73023152e-01,  3.47682003e-01,
        6.14892470e-01,  7.14226737e-01,  6.14904543e-01,  9.06045757e-01,
        6.28257979e-01,  1.02679937e-01,  9.45489639e-01,  5.40434412e-02,
        1.02679937e-01,  4.53008637e-02])

In [19]:
print("Shape of titanic_train_df",titanic_train_df.shape)
print("Shape of titanic_test_df",titanic_test_df.shape)

Shape of titanic_train_df (891, 12)
Shape of titanic_test_df (418, 11)

In [20]:
y_pred_df=pd.DataFrame(y_pred)
y_pred_df = (y_pred_df >= 0.6).astype(int)
test_PassengerIds=titanic_test_df['PassengerId']

In [21]:
import pandas as pd

# Ensure both are 1D Series
y_pred_df = y_pred_df.squeeze().reset_index(drop=True)
test_PassengerIds = test_PassengerIds.squeeze().reset_index(drop=True)

# Combine into a DataFrame
gender_submission_Final_pridiction = pd.DataFrame({
    'PassengerId': test_PassengerIds,
    'Survived': y_pred_df
})


gender_submission_Final_pridiction

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [22]:
#Generating a Csv Fine for Pridiction
gender_submission_Final_pridiction.to_csv('gender_submission_Final_pridiction.csv', index=False)